/* Header.css */

header {
    position: fixed; /* Cố định header ở trên cùng */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    padding-top: 60px; /* Đảm bảo nội dung không bị che khuất bởi header */
}



input[type="text"] {
    border: 2px solid #ddd;
    padding: 14px 20px; 
    border-radius: 8px; 
    font-size: 1rem;
    color: black; 
    width: 100%; 
    max-width: 800px;
    background-color: white; 
    transition: border-color 0.3s ease; 
}

/* Thêm hiệu ứng focus */
input[type="text"]:focus {
    border-color: #007bff; 
    outline: none; 
}

form {
    max-width: 1000px; 
    width: 100%; 
}
