/* Header.css */

header {
    position: fixed; /* Cố định header ở trên cùng */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    padding-top: 60px; /* Đảm bảo nội dung không bị che khuất bởi header */
}
